body {
    margin: auto;
    width: 100%;
}
.bodyPage {
    width: 100%;
    height: 100vh;
    background-image: url("../images/image3.jpg");
    background-repeat: no-repeat;
    background-size: 100% 110%;
}
.border {
    border: solid 1px black;
}

header {
    width: 100%;
    height: auto;
    padding: 10px 0;
    box-shadow: 1px 0px 5px #505050;
}

header .boxLogo{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo img {
    width: 40px;
    height: 40px;
}

header .logo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo i {
    display: none;
}

header .logo i:hover {
    opacity: 0.7;
    cursor: pointer;
}

header nav .nav-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
}


nav .nav-list {
    margin-top: 16px;
}

nav .list a {
    text-decoration: none;
    color: #505050;
}

nav .list {
    display: flex;
}


.mr {
    margin-right: 5px;
}

/* Register form*/

.formCard{
    margin-top: 50px;
}

/*btn Login*/
header .link-connect{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.link-connect a{
    padding: 5px 30px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 0 2px 0px #505050;
    transition: all .6s;
}

.link-connect a:hover{
    transform: scale(1.02);
    opacity: .7;
    transition: all .6s;
}

/*body */
.descr-text {
    width: 45%;
    margin-top: 200px;
    margin-left: 80px;
}

.descr-text h1{
    color: black ;
    margin-bottom: 30px;
}

.descr-text p{
    color: #505050;
}

.descr-text div{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/*About*/
#about {
    width: 90%;
    margin: auto;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
}

#about div{
    width: 40%;
    margin-left: 50px;
}

#about div h2{
    margin-bottom: 20px;
}

#about div p{
    color: #505050;
}

/*footer*/
footer{
    background-color: #505050;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    margin-top: 20px;
    padding:20px 0;
    height: auto;
}

footer .f-about{
    width: 20%;
}